:root {
  --triopia-peach:#D89880;
  --triopia-cream:#FFFBF7;
  --triopia-dark:#2A2A2A;
  --triopia-font-sm:0.9375rem; /* A- */
  --triopia-font-md:1rem;       /* A  */
  --triopia-font-lg:1.0625rem;  /* A+ */
}
